.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px 20px;
  color: white;
}



.main-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

.main-header nav a:hover {
  text-decoration: underline;
}
/* Apply the same styles as Link */
.nav-button-link {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 15px;
  text-decoration: none;
}

.nav-button-link:hover {
  text-decoration: underline;
}
